/* Popup container */
.popup {
    position: fixed;
	top: 25%;
	left: 15%;
	width: 45vw;
	height: 60vh;
    display: inline-block;
    cursor: pointer;
	margin-left: 60px;
	margin-right: 60px;
	padding: 20px 20px 20px 20px;
    color: #fff;
    border-radius: 6px;
	text-align: left;
	background-color: #555;
	font-size: calc(0.5vw + 0.5vh + 0.7vmin);
}

/* The actual popup (appears on top) */
.popup .show {
    visibility: visible;
	display: inline-block;
    width: 40vw;
	height: 60vh;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
	padding: 20px 20px 20px 20px;
    position: fixed;
	top: 25%;
	left: 25%;
    z-index: 1;
	text-align: left;
	font-size: calc(0.5vw + 0.5vh + 0.7vmin);
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .hide {
    visibility: hidden;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.helpButton {
	position: relative;
	left: 25%;
	margin-right: 25px;
}

#explain {
	position: relative;
	left: 5%;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

br{
	display: block;
	margin: 10px 0;
	line-height: 25px;
}

#region{
	margin-right: 20px;
}

#textBanner {
    width: 40vw;
	height: 10vh;
    position: fixed;
	top: 12.5%;
	left: 22%;
    z-index: 1;
	text-align: left;
	font-size: 2vmax;
}

