bin
.metadata
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
*.pydevproject
.recommenders/
resources/converted.txt
Parsed_CSVs/
Original_ASCII_files/
*.log
